<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum nam assumenda voluptatibus soluta dolorum voluptas odio dicta at illum, modi accusantium quae autem delectus distinctio excepturi alias! Sit, unde.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum soluta cum explicabo, dicta minus ratione, id placeat qui voluptates deleniti, animi nulla vel? Maxime accusantium corporis, quas doloribus facilis ipsam.
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil non deserunt provident adipisci itaque? Beatae, debitis. Laboriosam natus reprehenderit laborum consectetur harum ut repellat quae eius, non saepe excepturi iste.</p>
      </p>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
